@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  @apply bg-base-100;
}
.wallet-adapter-button-trigger {
  background: #31df77 !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}.active {
  background-color: black !important;
  color: white !important;
}

.btn-outline:hover {
  background-color: #f3f4f6; /* Light grey background */
  color: #111827; /* Dark text */
}